.select-grid {
	a.grid {
		display: block;
		width:100%;
		background:#FFF;
		padding:15px;
		.paper-shadow .e1;
		.border-radius;
		.text-center;
		text-decoration: none;
		min-height:220px;
		margin-bottom: 20px;
		& .icon {
			line-height: .8;
			font-size:70px;
			color:fade(#333,60%);
		}
		& .title {
			padding-top: 15px;
			.uppercase;
			.font-bold;
			color:#333;
		}
		& .desc {
			color:fade(#333,80%);
			padding-bottom: 20px;
		}
	}
}